<!---header section-->
<%-include(`include/_header`)%>
<!--/header section-->

    <!--Main section-->
    <main id="main-section">
        <div class="container">
            <div class="box-nav d-flex justify-content">
                <div class="filter">
                    <a href="/" class="all-user"><i class="fas fa-angle-double-left"></i>All Users</a>
                </div>
            </div>
        </div>
    </main>
    <!--/Main section-->

    

    <!--Right side-->
    <div class="right-side">

    <div class="form-title text-center">
        <h2 class="text-dark">New User</h2>
        <span class="text-light">Use this form to create new user</span>
    </div>

    <%-include(`include/form`)%>

    </div>
    <!--/right side-->
  
<!--footer section-->
<%-include(`include/_footer`)%>
<!--/footer section-->